.map{width: 400px;
    height: 400px;}
    h4{font-family: serif;}
    .divparent{display: flex;
        min-height: 100px;
        flex-wrap: wrap;}
        .g_1{height: 150px;
        width: 250px;}
        .g_2{height: 150px;
            width: 250px;}
            .g_3{height: 150px;
                width: 250px;}
                .g_4{height: 150px;
                    width: 250px;}
                    .g_5{height: 150px;
                        width: 250px;}    