  h1{font-family: serif;
  color: brown;}
 
.map{width: 400px;
    height: 400px;}
    h4{font-family: serif;}
.navpd{padding-left: 100px;}
     .bgmenu{background-color: red;}
     a:hover{background-color: red;
    color:white;
    border-radius: 40px;}
.position{position:fixed;
      top:0px;
      z-index: 1px;
  width: 100vw;}

.main_img{width: 100vw;
height: 300px;}
a{text-transform: uppercase;}

   /* MENUCARD STYLING */
   .container{display: flex;
    flex-wrap: wrap;
    border: 1px solid black
    }
    .menucard{display: flex;
    width: 320px;
      height: 250px;
     
    }
    .menu1{width: 100px;
      padding-top: 40px;
    }
    .button{display: flex;
      flex-direction: row
    }
